input {
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 9px;
  border-color: rgb(206, 203, 203)
}
h4 {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid green;
}

p {
  display: inline;
}
.deleteButton {
  text-align: right;
  margin-right: 25px;
  border-color: red;
  font-weight: bold;
}
button {
  margin-bottom: 20px;
  padding: 7px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
  border-color: green;
}
button:hover {
  cursor: pointer;
}

